{
  "presets": [
    "@babel/env",
    {
      "exclude": [
        "transform-runtime",
        "transform-regenerator"
      ]
    }
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
